* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;

}

.container {
  margin: 50px;
  background-color: #22252a;
  /* height: 400px; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: ;
  gap: 20px;

  /* align-items: stretch;
  justify-items: stretch; */

  /* align-content: space-around;
  justify-content: space-around; */
}

.container div {
  background-color: #cfcfcf;
}

.container :first-child {
  grid-column: 1 / -1;
}
.container :nth-child(8) {
  grid-column: 3 / span 2;
  height: 50px;
}
.container :nth-child(7) {
 align-self: end;
}

/* header section  */

.header {
  background-color: #22252a;
  color: #c3c5c4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.header-menu {
  list-style: none;
  display: flex;
  gap: 20px;
}

.header-btn {
  padding: 8px 12px;
  border: none;
  border-radius: 15px;
  background-color: #fed500;
  font-weight: 700;
}

/* hero section  */
.hero {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.hero-img img{
    max-height: 400px;
}

.hero-content p{
    padding: 10px 14px;
    color:#c3c5c4 ;
    border-radius: 20px;
    margin: 5px 0;
    font-size: 20px;
}

.hero-content :first-child {
    background-color: #010101;
}

.hero-content :last-child {
    background-color: #fed500;
    color: #010101;
    display: inline-block;
}

/* resume section  */
.resume {
    display: flex;
    justify-content: space-around;
}

.resume-img img {
    max-height: 250px;
    max-width: 300px;
}